html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

form {
  padding: 1em;
}

/* config.css */

:root {
  --baseColor: #606468;
}

/* helpers/align.css */

.align {
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  place-items: center;
  height: 80vh;
  
}

.grid {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  max-width: 20rem;
}

/* helpers/hidden.css */

.hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* helpers/icon.css */

:root {
  --iconFill: var(--baseColor);
}

.icons {
  display: none;
}

.icon {
  height: 1em;
  display: inline-block;
  fill: #606468;
  fill: var(--iconFill);
  width: 1em;
  vertical-align: middle;
}

/* layout/base.css */

:root {
  --htmlFontSize: 100%;

  --bodyBackgroundColor: #2c3338;
  --bodyColor: var(--baseColor);
  --bodyFontFamily: "Open Sans";
  --bodyFontFamilyFallback: sans-serif;
  --bodyFontSize: 0.875rem;
  --bodyFontWeight: 400;
  --bodyLineHeight: 1.5;
}

* {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 100%;
  font-size: var(--htmlFontSize);
}

body {
  background-color: #2c3338;
  background-color: var(--bodyBackgroundColor);
  color: #606468;
  color: var(--bodyColor);
  font-family: "Open Sans", sans-serif;
  font-family: var(--bodyFontFamily), var(--bodyFontFamilyFallback);
  font-size: 0.875rem;
  font-size: var(--bodyFontSize);
  font-weight: 400;
  font-weight: var(--bodyFontWeight);
  line-height: 1.5;
  line-height: var(--bodyLineHeight);
  margin: 0;
  min-height: 100vh;
}

/* modules/anchor.css */

:root {
  --anchorColor: #eee;
}

a {
  color: #eee;
  color: var(--anchorColor);
  outline: 0;
  text-decoration: none;
}

a:focus,
a:hover {
  text-decoration: underline;
}

/* modules/form.css */

:root {
  --formGap: 0.875rem;
}

input {
  background-image: none;
  border: 0;
  color: black;
  font: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  -webkit-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

input[type="submit"] {
  cursor: pointer;
}

.form {
  display: grid;
  grid-gap: 0.875rem;
  gap: 0.875rem;
  grid-gap: var(--formGap);
  gap: var(--formGap);
}

.form input[type="password"],
.form input[type="text"],
.form input[type="submit"] {
  width: 100%;
}

.form__field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
}

.form__input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

/* modules/login.css */

:root {
  --loginBorderRadus: 0.25rem;
  --loginColor: #eee;

  --loginInputBackgroundColor: #3b4148;
  --loginInputHoverBackgroundColor: #434a52;

  --loginLabelBackgroundColor: #363b41;

  --loginSubmitBackgroundColor: #ea4c88;
  --loginSubmitColor: #eee;
  --loginSubmitHoverBackgroundColor: #d44179;
}

.login {
  color: #eee;
  color: var(--loginColor);
}

label {
  background-color: #363b41;
  background-color: var(--loginLabelBackgroundColor);
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  width: 100px;
}

input[type="password"],
input[type="text"],
input[type="number"] {
  background-color: #3b4148;
  background-color: var(--loginInputBackgroundColor);
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  text-align: center;
  color: #fff;
}


input[type="password"]:focus,
input[type="password"]:hover,
input[type="text"]:focus,
input[type="text"]:hover,
input[type="number"]:focus,
input[type="number"]:hover {
  background-color: #434a52;
  background-color: var(--loginInputHoverBackgroundColor);
}

input[type="submit"], .signout {
  background-color: #ea4c88;
  background-color: var(--loginSubmitBackgroundColor);
  color: #eee;
  color: var(--loginSubmitColor);
  font-weight: 700;
  text-transform: uppercase;
  border: none;
}
input[type="submit"]:focus,
input[type="submit"]:hover {
  background-color: #d44179;
  background-color: var(--loginSubmitHoverBackgroundColor);
}


label,
input[type="text"],
input[type="password"],
input[type="submit"],
.btn {
  border-radius: 0.25rem;
  border-radius: var(--loginBorderRadus);
  padding: 1rem;
}
.btn{
  width: 100vw;
}
/* modules/text.css */

p {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.text--center {
  text-align: center;
}

.list {
  list-style-type: none;
  
}

.listItem {
  margin: 0;
  color: #fff;
  border-radius: 20px;
  text-align: center;
  margin: .25em;
}

.toggle {
  overflow: hidden;
  transform: skew(-10deg);
  backface-visibility: hidden;
  transition: all 0.2s ease;
  font-family: sans-serif;
  background: #888;
}

.toggle:before {
    transform: skew(10deg);
    display: inline-block;
    transition: all .2s ease;
    width: 100%;
    text-align: center;
    position: absolute;
    line-height: 2em;
    font-weight: bold;
    color: #fff;
    text-shadow: 0 1px 0 rgba(0,0,0,.4);
}

.toggle:after {
    left: 100%;
    content: attr(data-tg-on);
}

.date {
    font-size: small;
    margin: 0px;

}

.title {
  font-size: x-large;
}

.title::first-letter {
    text-transform: uppercase;
}

.listItem__content {

}

.checkRate {
    font-size: x-large;

}

.done {
  background-color: #85dead;
  display: grid;
  border-radius: 20px;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr;
  align-self: center;
  align-items: center;
}

.working {
  background: #ea4c88;
  display: grid;
  border-radius: 20px;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr;
  align-self: center;
  align-items: center;
}

.inactive {
    background-color: #888;
    display: grid;
    border-radius: 20px;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr;
    align-self: center;
    align-items: center;
}

.edit-btn {
  height: 80px;
  width: 60px;
  background-color: transparent;
  border: none;
  font-size: large;
  color: #fff
}

.pure-toggle {
  cursor: pointer;
  font-size: 1.5em;
  width: 6em;
  height: 3em;
  display: inline-block;
  position: relative;
  background: white;
  text-align: left;
  line-height: 3em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-perspective: 300px;
  -webkit-perspective: 300px;
  perspective: 300px;
}
.pure-toggle:before {
  width: 3em;
  height: 3em;
  position: absolute;
  right: 0;
  top: 0;
  background-color: #f5f5f5;
  display: inline-block;
  text-align: center;
  font-family: 'FontAwesome', sans-serif;
  content: "···";
  color: #ffffff;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  -moz-transform-origin: 0% 50%;
  -ms-transform-origin: 0% 50%;
  -webkit-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  /*@include box-shadow(0.1em 0 0.2em rgba(0,0,0,0.3));*/
}
.pure-toggle [class^='fontawesome-'] {
  padding: 1em;
  line-height: inherit;
  font-family: 'FontAwesome', sans-serif;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
.pure-toggle.flip:before {
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}
.pure-toggle.brick {
  background-color: white;
  border: 1px solid #d9d9d9;
  border-bottom-color: #e6e6e6;
  -moz-box-shadow: inset 0 0.1em 0.03em rgba(0, 0, 0, 0.2), inset 0 0.1em 0.3em rgba(0, 0, 0, 0.3), 0 0 2em rgba(255, 255, 255, 0.6);
  -webkit-box-shadow: inset 0 0.1em 0.03em rgba(0, 0, 0, 0.2), inset 0 0.1em 0.3em rgba(0, 0, 0, 0.3), 0 0 2em rgba(255, 255, 255, 0.6);
  box-shadow: inset 0 0.1em 0.03em rgba(0, 0, 0, 0.2), inset 0 0.1em 0.3em rgba(0, 0, 0, 0.3), 0 0 2em rgba(255, 255, 255, 0.6);
}
.pure-toggle.brick:before {
  margin-right: -1px;
  margin-top: -0.14em;
  -moz-box-shadow: 0 0.12em 0.01em #3ba5bc, 0 0.12em 0.3em rgba(59, 165, 188, 0.6), 0 0.12em 2em rgba(0, 0, 0, 0.3), -0.12em 0.15em 0.2em rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0.12em 0.01em #3ba5bc, 0 0.12em 0.3em rgba(59, 165, 188, 0.6), 0 0.12em 2em rgba(0, 0, 0, 0.3), -0.12em 0.15em 0.2em rgba(0, 0, 0, 0.2);
  box-shadow: 0 0.12em 0.01em #3ba5bc, 0 0.12em 0.3em rgba(59, 165, 188, 0.6), 0 0.12em 2em rgba(0, 0, 0, 0.3), -0.12em 0.15em 0.2em rgba(0, 0, 0, 0.2);
  -moz-transition-duration: 0.66667s;
  -o-transition-duration: 0.66667s;
  -webkit-transition-duration: 0.66667s;
  transition-duration: 0.66667s;
  -moz-transition-timing-function: cubic-bezier(0.52, -0.41, 0.55, 1.46);
  -o-transition-timing-function: cubic-bezier(0.52, -0.41, 0.55, 1.46);
  -webkit-transition-timing-function: cubic-bezier(0.52, -0.41, 0.55, 1.46);
  transition-timing-function: cubic-bezier(0.52, -0.41, 0.55, 1.46);
}
.pure-toggle.brick.switch {
  background: transparent;
  -moz-box-shadow: inset 0 0 0.03em transparent, inset 0 0 0.3em transparent, 0 0 2em rgba(255, 255, 255, 0);
  -webkit-box-shadow: inset 0 0 0.03em transparent, inset 0 0 0.3em transparent, 0 0 2em rgba(255, 255, 255, 0);
  box-shadow: inset 0 0 0.03em transparent, inset 0 0 0.3em transparent, 0 0 2em rgba(255, 255, 255, 0);
  border: 0;
}
.pure-toggle.brick.switch:before {
  display: none;
}
.pure-toggle.brick.switch .ok {
  color: white;
  top: 0;
  left: 1px;
  line-height: 1em;
  padding: 1em 1.045em;
  position: relative;
  background: #5EB9CC;
  -moz-box-shadow: 0 0.12em 0.01em #3ba5bc, 0 0.12em 0.3em rgba(59, 165, 188, 0.6), 0 0.12em 2em rgba(0, 0, 0, 0.3), -0.12em 0.15em 0.2em rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0.12em 0.01em #3ba5bc, 0 0.12em 0.3em rgba(59, 165, 188, 0.6), 0 0.12em 2em rgba(0, 0, 0, 0.3), -0.12em 0.15em 0.2em rgba(0, 0, 0, 0.2);
  box-shadow: 0 0.12em 0.01em #3ba5bc, 0 0.12em 0.3em rgba(59, 165, 188, 0.6), 0 0.12em 2em rgba(0, 0, 0, 0.3), -0.12em 0.15em 0.2em rgba(0, 0, 0, 0.2);
  -moz-transition-duration: 0.33333s;
  -o-transition-duration: 0.33333s;
  -webkit-transition-duration: 0.33333s;
  transition-duration: 0.33333s;
}
.pure-toggle.brick.switch .ok.no {
  top: 0.14em;
  background: transparent;
  background: #cc0966;
  -moz-box-shadow: 0 0 0.01em #9b074e, 0 0 0.3em rgba(155, 7, 78, 0.6), 0 0.12em 2em transparent, -0.12em 0.15em 0.2em transparent;
  -webkit-box-shadow: 0 0 0.01em #9b074e, 0 0 0.3em rgba(155, 7, 78, 0.6), 0 0.12em 2em transparent, -0.12em 0.15em 0.2em transparent;
  box-shadow: 0 0 0.01em #9b074e, 0 0 0.3em rgba(155, 7, 78, 0.6), 0 0.12em 2em transparent, -0.12em 0.15em 0.2em transparent;
}

input[type='checkbox'] + .pure-toggle:before {
  -moz-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  background-color: #5EB9CC;
}
input[type='checkbox'] + .pure-toggle [class^="fontawesome-"],
input[type='checkbox'] + .pure-toggle [class*="fontawesome-"] {
  color: #5EB9CC;
}
input[type='checkbox'] + .pure-toggle.wide:before {
  -moz-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  -moz-animation: contract 1s ease-in-out forwards;
  -webkit-animation: contract 1s ease-in-out forwards;
  animation: contract 1s ease-in-out forwards;
}
input[type='checkbox'] + .pure-toggle.brick:before {
  border-bottom: 0.03em solid #71c1d2;
  text-shadow: 0 0.05em 0 #4bb1c6;
  -moz-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
}
input[type='checkbox'] + .pure-toggle.brick.switch .ok {
  color: white;
}
input[type='checkbox'] + .pure-toggle.flip:before {
  -moz-animation: flip 0.5s ease-in-out forwards;
  -webkit-animation: flip 0.5s ease-in-out forwards;
  animation: flip 0.5s ease-in-out forwards;
}
input[type='checkbox'] + .pure-toggle.impossible:before {
  -moz-animation: impossible 0.5s ease-in-out forwards;
  -webkit-animation: impossible 0.5s ease-in-out forwards;
  animation: impossible 0.5s ease-in-out forwards;
}

input[type='checkbox']:checked + .pure-toggle:before {
  -moz-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  background-color: #cc0966;
}
input[type='checkbox']:checked + .pure-toggle [class^="fontawesome-"],
input[type='checkbox']:checked + .pure-toggle [class*="fontawesome-"] {
  color: #cc0966;
}
input[type='checkbox']:checked + .pure-toggle.wide:before {
  -moz-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  -moz-animation: expand 1s ease-in-out forwards;
  -webkit-animation: expand 1s ease-in-out forwards;
  animation: expand 1s ease-in-out forwards;
}
input[type='checkbox']:checked + .pure-toggle.brick:before {
  margin-right: 3em;
  border-bottom: 0.03em solid #f5137f;
  text-shadow: 0 0.05em 0 #9b074e;
  -moz-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  -moz-box-shadow: 0 0.12em 0.01em #9b074e, 0 0.12em 0.3em rgba(155, 7, 78, 0.6), 0 0.12em 2em rgba(0, 0, 0, 0.3), 0.12em 0.15em 0.2em rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0.12em 0.01em #9b074e, 0 0.12em 0.3em rgba(155, 7, 78, 0.6), 0 0.12em 2em rgba(0, 0, 0, 0.3), 0.12em 0.15em 0.2em rgba(0, 0, 0, 0.2);
  box-shadow: 0 0.12em 0.01em #9b074e, 0 0.12em 0.3em rgba(155, 7, 78, 0.6), 0 0.12em 2em rgba(0, 0, 0, 0.3), 0.12em 0.15em 0.2em rgba(0, 0, 0, 0.2);
}
input[type='checkbox']:checked + .pure-toggle.brick.switch:before {
  display: none;
}
input[type='checkbox']:checked + .pure-toggle.brick.switch .ok {
  top: 0.14em;
  -moz-box-shadow: 0 0 0.01em #3ba5bc, 0 0 0.3em rgba(59, 165, 188, 0.6), 0 0.12em 2em transparent, -0.12em 0.15em 0.2em transparent;
  -webkit-box-shadow: 0 0 0.01em #3ba5bc, 0 0 0.3em rgba(59, 165, 188, 0.6), 0 0.12em 2em transparent, -0.12em 0.15em 0.2em transparent;
  box-shadow: 0 0 0.01em #3ba5bc, 0 0 0.3em rgba(59, 165, 188, 0.6), 0 0.12em 2em transparent, -0.12em 0.15em 0.2em transparent;
}
input[type='checkbox']:checked + .pure-toggle.brick.switch .ok.no {
  top: 0;
  background: #cc0966;
  -moz-box-shadow: 0 0.12em 0.01em #9b074e, 0 0.12em 0.3em rgba(155, 7, 78, 0.6), 0 0.12em 2em rgba(0, 0, 0, 0.3), 0.12em 0.15em 0.2em rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0.12em 0.01em #9b074e, 0 0.12em 0.3em rgba(155, 7, 78, 0.6), 0 0.12em 2em rgba(0, 0, 0, 0.3), 0.12em 0.15em 0.2em rgba(0, 0, 0, 0.2);
  box-shadow: 0 0.12em 0.01em #9b074e, 0 0.12em 0.3em rgba(155, 7, 78, 0.6), 0 0.12em 2em rgba(0, 0, 0, 0.3), 0.12em 0.15em 0.2em rgba(0, 0, 0, 0.2);
}
input[type='checkbox']:checked + .pure-toggle.flip:before {
  -moz-animation: flip-back 0.5s ease-in-out forwards;
  -webkit-animation: flip-back 0.5s ease-in-out forwards;
  animation: flip-back 0.5s ease-in-out forwards;
}
input[type='checkbox']:checked + .pure-toggle.impossible:before {
  -moz-animation: impossible-back 0.5s ease-in-out forwards;
  -webkit-animation: impossible-back 0.5s ease-in-out forwards;
  animation: impossible-back 0.5s ease-in-out forwards;
}

@keyframes flip-back {
  0% {
    -moz-transform: rotateY(0deg) translateX(0) scale(1);
    -ms-transform: rotateY(0deg) translateX(0) scale(1);
    -webkit-transform: rotateY(0deg) translateX(0) scale(1);
    transform: rotateY(0deg) translateX(0) scale(1);
  }
  60%,
    80% {
    -moz-transform: rotateY(-360deg) translateX(0) scale(1.3);
    -ms-transform: rotateY(-360deg) translateX(0) scale(1.3);
    -webkit-transform: rotateY(-360deg) translateX(0) scale(1.3);
    transform: rotateY(-360deg) translateX(0) scale(1.3);
  }
  100% {
    margin-right: 3em;
    -moz-transform: rotateY(-360deg) translateX(0) scale(1);
    -ms-transform: rotateY(-360deg) translateX(0) scale(1);
    -webkit-transform: rotateY(-360deg) translateX(0) scale(1);
    transform: rotateY(-360deg) translateX(0) scale(1);
  }
}
@keyframes flip {
  0% {
    margin-right: 3em;
    -moz-transform: rotateY(0deg) translateX(0) scale(1);
    -ms-transform: rotateY(0deg) translateX(0) scale(1);
    -webkit-transform: rotateY(0deg) translateX(0) scale(1);
    transform: rotateY(0deg) translateX(0) scale(1);
  }
  60%,
    80% {
    -moz-transform: rotateY(360deg) translateX(0) scale(1.3);
    -ms-transform: rotateY(360deg) translateX(0) scale(1.3);
    -webkit-transform: rotateY(360deg) translateX(0) scale(1.3);
    transform: rotateY(360deg) translateX(0) scale(1.3);
  }
  100% {
    margin-right: 0;
    -moz-transform: rotateY(360deg) translateX(0) scale(1);
    -ms-transform: rotateY(360deg) translateX(0) scale(1);
    -webkit-transform: rotateY(360deg) translateX(0) scale(1);
    transform: rotateY(360deg) translateX(0) scale(1);
  }
}
@keyframes impossible-back {
  0% {
    -moz-transform: rotateX(0deg) translateX(0) scale(1);
    -ms-transform: rotateX(0deg) translateX(0) scale(1);
    -webkit-transform: rotateX(0deg) translateX(0) scale(1);
    transform: rotateX(0deg) translateX(0) scale(1);
  }
  60%,
    80% {
    -moz-transform: rotateX(-360deg) translateX(0) scale(1.3);
    -ms-transform: rotateX(-360deg) translateX(0) scale(1.3);
    -webkit-transform: rotateX(-360deg) translateX(0) scale(1.3);
    transform: rotateX(-360deg) translateX(0) scale(1.3);
  }
  100% {
    margin-right: 3em;
    -moz-transform: rotateX(-360deg) translateX(0) scale(1);
    -ms-transform: rotateX(-360deg) translateX(0) scale(1);
    -webkit-transform: rotateX(-360deg) translateX(0) scale(1);
    transform: rotateX(-360deg) translateX(0) scale(1);
  }
}
@keyframes impossible {
  0% {
    margin-right: 3em;
    -moz-transform: rotateX(0deg) translateX(0) scale(1);
    -ms-transform: rotateX(0deg) translateX(0) scale(1);
    -webkit-transform: rotateX(0deg) translateX(0) scale(1);
    transform: rotateX(0deg) translateX(0) scale(1);
  }
  60%,
    80% {
    -moz-transform: rotateX(360deg) translateX(0) scale(1.3);
    -ms-transform: rotateX(360deg) translateX(0) scale(1.3);
    -webkit-transform: rotateX(360deg) translateX(0) scale(1.3);
    transform: rotateX(360deg) translateX(0) scale(1.3);
  }
  100% {
    margin-right: 0;
    -moz-transform: rotateX(360deg) translateX(0) scale(1);
    -ms-transform: rotateX(360deg) translateX(0) scale(1);
    -webkit-transform: rotateX(360deg) translateX(0) scale(1);
    transform: rotateX(360deg) translateX(0) scale(1);
  }
}
@keyframes expand {
  0% {
    right: 0;
    width: 3em;
  }
  25% {
    right: 0;
    width: 100%;
  }
  50% {
    right: auto;
    width: 100%;
    left: 0;
  }
  100% {
    left: 0;
    width: 3em;
  }
}
@keyframes contract {
  0% {
    left: 0;
    width: 3em;
  }
  25% {
    left: 0;
    width: 100%;
  }
  50% {
    right: 0;
    width: 100%;
    left: auto;
  }
  100% {
    right: 0;
    width: 3em;
  }
}
@-webkit-keyframes flip-back {
  0% {
    -moz-transform: rotateY(0deg) translateX(0) scale(1);
    -ms-transform: rotateY(0deg) translateX(0) scale(1);
    -webkit-transform: rotateY(0deg) translateX(0) scale(1);
    transform: rotateY(0deg) translateX(0) scale(1);
  }
  60%,
    80% {
    -moz-transform: rotateY(-360deg) translateX(0) scale(1.3);
    -ms-transform: rotateY(-360deg) translateX(0) scale(1.3);
    -webkit-transform: rotateY(-360deg) translateX(0) scale(1.3);
    transform: rotateY(-360deg) translateX(0) scale(1.3);
  }
  100% {
    margin-right: 3em;
    -moz-transform: rotateY(-360deg) translateX(0) scale(1);
    -ms-transform: rotateY(-360deg) translateX(0) scale(1);
    -webkit-transform: rotateY(-360deg) translateX(0) scale(1);
    transform: rotateY(-360deg) translateX(0) scale(1);
  }
}
@-webkit-keyframes flip {
  0% {
    margin-right: 3em;
    -moz-transform: rotateY(0deg) translateX(0) scale(1);
    -ms-transform: rotateY(0deg) translateX(0) scale(1);
    -webkit-transform: rotateY(0deg) translateX(0) scale(1);
    transform: rotateY(0deg) translateX(0) scale(1);
  }
  60%,
    80% {
    -moz-transform: rotateY(360deg) translateX(0) scale(1.3);
    -ms-transform: rotateY(360deg) translateX(0) scale(1.3);
    -webkit-transform: rotateY(360deg) translateX(0) scale(1.3);
    transform: rotateY(360deg) translateX(0) scale(1.3);
  }
  100% {
    margin-right: 0;
    -moz-transform: rotateY(360deg) translateX(0) scale(1);
    -ms-transform: rotateY(360deg) translateX(0) scale(1);
    -webkit-transform: rotateY(360deg) translateX(0) scale(1);
    transform: rotateY(360deg) translateX(0) scale(1);
  }
}
@-webkit-keyframes impossible-back {
  0% {
    -moz-transform: rotateX(0deg) translateX(0) scale(1);
    -ms-transform: rotateX(0deg) translateX(0) scale(1);
    -webkit-transform: rotateX(0deg) translateX(0) scale(1);
    transform: rotateX(0deg) translateX(0) scale(1);
  }
  60%,
    80% {
    -moz-transform: rotateX(-360deg) translateX(0) scale(1.3);
    -ms-transform: rotateX(-360deg) translateX(0) scale(1.3);
    -webkit-transform: rotateX(-360deg) translateX(0) scale(1.3);
    transform: rotateX(-360deg) translateX(0) scale(1.3);
  }
  100% {
    margin-right: 3em;
    -moz-transform: rotateX(-360deg) translateX(0) scale(1);
    -ms-transform: rotateX(-360deg) translateX(0) scale(1);
    -webkit-transform: rotateX(-360deg) translateX(0) scale(1);
    transform: rotateX(-360deg) translateX(0) scale(1);
  }
}
@-webkit-keyframes impossible {
  0% {
    margin-right: 3em;
    -moz-transform: rotateX(0deg) translateX(0) scale(1);
    -ms-transform: rotateX(0deg) translateX(0) scale(1);
    -webkit-transform: rotateX(0deg) translateX(0) scale(1);
    transform: rotateX(0deg) translateX(0) scale(1);
  }
  60%,
    80% {
    -moz-transform: rotateX(360deg) translateX(0) scale(1.3);
    -ms-transform: rotateX(360deg) translateX(0) scale(1.3);
    -webkit-transform: rotateX(360deg) translateX(0) scale(1.3);
    transform: rotateX(360deg) translateX(0) scale(1.3);
  }
  100% {
    margin-right: 0;
    -moz-transform: rotateX(360deg) translateX(0) scale(1);
    -ms-transform: rotateX(360deg) translateX(0) scale(1);
    -webkit-transform: rotateX(360deg) translateX(0) scale(1);
    transform: rotateX(360deg) translateX(0) scale(1);
  }
}
@-webkit-keyframes expand {
  0% {
    right: 0;
    width: 3em;
  }
  25% {
    right: 0;
    width: 100%;
  }
  50% {
    right: auto;
    width: 100%;
    left: 0;
  }
  100% {
    left: 0;
    width: 3em;
  }
}
@-webkit-keyframes contract {
  0% {
    left: 0;
    width: 3em;
  }
  25% {
    left: 0;
    width: 100%;
  }
  50% {
    right: 0;
    width: 100%;
    left: auto;
  }
  100% {
    right: 0;
    width: 3em;
  }
}
